.content-our-work
	padding-top: 210px
	padding-bottom: 180px
	transform: scale(0,0)
	opacity: 0
	transition: all 2s

.content-our-work_visible
	transform: scale(1,1)
	opacity: 1

.title__our-work
	width: 565px
	margin: 0 auto 70px
	font-family: "OpenSans-Semibold", Arial, sans-serif
	font-size: 32px
	text-transform: uppercase
	text-align: center
	color: #515151
	position: relative

.title__our-work:before
	content: ""
	width: 58px
	height: 58px
	background: url(../img/content-our-work-img-1.png)
	position: absolute
	top: -112px
	left: calc(50% - 29px)

.description__item
	margin-bottom: 50px

.description__item:last-child
	margin-bottom: 0

.description__our-work
	font-family: "OpenSans", Arial, sans-serif
	font-size: 19px
	color: #8c8c8c
	text-align: center
